<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCA4yKOaUsDI7nqdhKS2ZVBs_qShAQ-7iU</string>
	<key>GCM_SENDER_ID</key>
	<string>102129497412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uNasDzialaHackathon2024</string>
	<key>PROJECT_ID</key>
	<string>u-nas-dziala-hackathon-2024</string>
	<key>STORAGE_BUCKET</key>
	<string>u-nas-dziala-hackathon-2024.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102129497412:ios:f542e14a76b18a272b1311</string>
</dict>
</plist>